<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyResume</title>



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />




    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/js/sal.css" />
    <link rel="stylesheet" href="~/css/index.css" />



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg nav-pills bg-secondary fixed-top" id="sideNav">

            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Sean Maserumule</span>
                <span class="d-none d-lg-block">

                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/sean.jpg" alt="" />

                   

                </span>
            </a>
            <button class="navbar-toggler bg-dark btn-outline-dark " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon text-light"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-justified">
                    <li class="nav-item "><a class="nav-link js-scroll-trigger  text-dark"  asp-area="" asp-page="/Index">Home</a></li>

                    <li class="nav-item "><a class="nav-link js-scroll-trigger  text-dark" href="#about">About</a></li>
                    <li class="nav-item "><a class="nav-link js-scroll-trigger  text-dark " href="#experience">Projects</a></li>
                    <li class="nav-item "><a class="nav-link js-scroll-trigger  text-dark " href="#education">Education</a></li>
                    <li class="nav-item "><a class="nav-link js-scroll-trigger  text-dark" href="#skills">Skills</a></li>
                    <li class="nav-item "><a class="nav-link js-scroll-trigger   text-dark" href="#interests">Interests</a></li>
                    <li class="nav-item "><a class="nav-link js-scroll-trigger  text-dark" href="#awards">Certifications</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MyResume - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js" asp-append-version="true"></script>

    <script src="~/js/sal.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
